* {
  text-align: center;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.active {
  background: black;
  color: white;
}
button {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 4px;
  margin-left: 12px;
}

body {
  background-color: #4d4c4c;
}

#root {
  margin: 150px 0;
}
